{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/petsitterApplication/application1.css" %}{% endblock %}

{% block content %}
    <div class="location-tow mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>펫시터 신청</h1>
                    </div>
                    <div class="location-content location-content-tow">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li class="active">펫시터 신청</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="about-us-area" style="height: 500px;">
	    <div class="container-fluid p-0">
	        <div class="row no-gutters">
	            <div class="col-md-12 col-lg-6">
	                <div class="about-us-img">
	                    <img src="{% static 'img/dog123.jpg' %}">
	                </div>
	            </div>
	            <div class="col-md-12 col-lg-6">
	                <div class="about-us-content">
	                    <h2><strong>강아지를 정말로 사랑하는 당신</strong> <br><strong>지금 바로 지원해보세요!</strong></h2>
	                    <p> 알로하도그는 강아지를 사랑하며, 소중하게 시팅해주실 분을 모집하고 있습니다. 반려동물 1000만 시대에 펫시터는 전망이 높은 직업입니다. 이미 해외에서는 고연봉 직업으로 인정을 받았습니다. 서류합격 진행 후, 오프라인에서
	                    다양한 케어 교육또한 실시하고 있습니다. 강아지를 사랑하신다면 지금 바로 지원해보세요. </p>
					   	{% if user.is_active %}
	                    	<a href="{% url 'application2' %}" class="about-btn-login">지원하기</a>
	                    {% else %}
	                    	<a href="{% url 'login' %}" class="about-btn-login">지원하기</a>
					    {% endif %}
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="footer-container">
            <div class="footer-bottom-area pt-50 pb-50">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-payments-image">
                                <div class="footer-logo">
                                    <a href="{% url 'home' %}"><img src="{% static 'logo/logo1.png' %}" alt="logo"></a>
                                </div>
                            </div>
                            <div class="footer-menu text-center">
                                <nav>
                                    <ul>
                                        <li><b>사업자등록번호:</b> 000-00-00000</li>
                                        <span><b>통신판매업신고번호:</b> 제 2018-서울성동-00000 호</span>
                                        <br/>
                                        <li><b>주소:</b> 서울특별시 성동구 살곶이길 200(사근동 110)</li>
                                        <li><b>전화번호:</b> 010-3083-8683, </li>
                                        <li><b>이메일:</b> ohmyfood_@naver.com,</li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="footer-copyright">
                                <p>Copyright © <a href="#">AlohaDog</a> All Rights Reserved</p>
                                <p><span>대표: 김아연, 김샛별, 박기나, 김지윤</span></p>
                                <p><span><a href="#">이용약관</a> | <a href="#">개인정보취급방법</a> | <a href="#">안전보상제도</a></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}