{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

<!-- {% load staticfiles %}
{% block extrastyle %}{% static "css/aboutUs/aboutUs.css" %}{% endblock %} -->

{% block content %}
    <div class="location-tow mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>무료 서비스</h1>
                    </div>
                    <div class="location-content location-content-tow">
                        <ul>
                            <li class="active"><a href="{% url 'free-service' %}">무료 서비스</a></li>
                            <li><a href="{% url 'paid-service' %}">유료 서비스</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="service-item-area mb-120">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                     <div class="single-service-item">
                         <div class="service-img img-full mb-35">
                             <img src="{% static 'img/service/2.jpg' %}">
                         </div>
                         <div class="service-content">
                             <div class="service-title">
                                 <h4>사진촬영</h4>
                             </div>
                             <p>보고싶은 강아지의 모습을 보내드릴게요. <br/>웃고있는 반려견의 모습을 담아드리겠습니다.</p>
                         </div>
                     </div> 
                  </div>
                  <div class="col-md-4">
                     <div class="single-service-item">
                         <div class="service-img img-full mb-35">
                             <img src="{% static 'img/service/3.jpg' %}">
                         </div>
                         <div class="service-content">
                             <div class="service-title">
                                 <h4>돌봄일지</h4>
                             </div>
                             <p>오늘 하루, 나의 반려견은 어땠을까?<br/>꼼꼼한 일지작성으로 반려견의 하루를 보여드릴게요.</p>
                         </div>
                     </div> 
                  </div>
                  <div class="col-md-4">
                     <div class="single-service-item">
                         <div class="service-img img-full mb-35">
                             <img src="{% static 'img/service/4.jpg' %}">
                         </div>
                         <div class="service-content">
                             <div class="service-title">
                                 <h4>병원가기</h4>
                             </div>
                             <p>아프거나 정기 검진을 받아야 하는 등 진료가 필요한 강아지가 있다면 시터가 동행하겠습니다.</p>
                         </div>
                     </div> 
                  </div>
                </div>
          </div>
      </div>
{% endblock %}