{%  extends "base.html" %}

{% block title %}ALOHA DOG!{% endblock %}

{% block content %}
	<div id="content">
		<h1>Sitterinforegistration Change - {{ user }}</h1>
		
		<table class="change-list">
			<tr>
				<th>Ppp</th>
				<th>Introduction</th>
				<th>Owner</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			{% for item in object_list %}
			<tr>
				<th>{{ item.ppp }}</th>
				<th>{{ item.Introduction }}</th>
				<th>{{ item.owner }}</th>
				<th><a href="{% url 'sitterinforegistration:update' item.id %}">Update</a></th>
				<th><a href="{% url 'sitterinforegistration:delete' item.id %}">Delete</a></th>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}