
/*--------------공통*/

body{background: #fff;}

.main{
    width: 1100px; 
    height: 1400px;
    margin: 0 auto;
    overflow: hidden;
    /*background: lightblue;*/
}
.submenuPath{
    position: relative;
    top: 100px;
    width: 100%;
    padding: 10px;
    background: #f1e6ff;
    border-left: 5px solid #c999ff;
    /*border-bottom: 5px dashed #c999ff;*/
    /*font-size: 20px;*/
}
.main-body{
    position: relative;
    top: 150px;
    width: 1100px;
    /*height: 700px;*/
    /*background: lightgreen;*/
}
.main-body:after {
    content: "";
    display: table;
    clear: both;
}.main-body-title{
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 50px;
    color: #000;
}
.main-body-title a{color: #c999ff;}
.main-body-path{
    position: absolute; top: 35px; right: 5px;
}
.main-body-path, .main-body-path a{
    font-family: sans-serif;
    font-size: 12px;
}
.main-body-path a:hover{color: #c999ff;}
.main-body-form{
    position: relative;
    top: 0px;
    padding: 50px 100px 0;
    width: 80%;
    margin: 0 auto;
    border: 7px solid #c999ff;
    /*background: white;*/
}
.errornote{
    display: block;
    margin: -50px 0 30px 0;
    border: 1px dashed #c30;
    background: #fff;
    padding: 5px 15px;
    color: #c30;
    font-size: 12px;
    font-weight: bold;
    font-family: nanum;
    letter-spacing: -1px;
}

.form-row{
    font-size: 20px;
    border-bottom: 1px solid #f2f2f2;
}.sexA{padding: 15px 0;}.neutralizationA{padding:15px 0;}
.form-row span.name{padding: 0 100px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.age{padding: 0 100px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.sex{padding: 0 100px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.species{padding: 0 112px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.weight{padding: 0 101px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.dogimg{padding: 0 101px 0 150px; border-right: 1px solid #f2f2f2;}
.form-row span.neutralization{padding: 0 68px 0 150px; border-right: 1px solid #f2f2f2;}
input[type=text], input[type=number], input[type=file]{
    width: 400px;
    padding: 15px;
    margin: 0;
    display: inline-block;
    background: #fff;
}
input[type=text]:focus, input[type=number]:focus, , input[type=file]:focus{
    background-color: #f1e6ff;
    outline: none;
}
input[type=radio]{
    width: 50px;
    margin: 0;
    display: inline-block;
    background: #fff;
}
input[type=radio]:focus{
    background-color: #f1e6ff;
    outline: none;
}
label{padding: 15px 15px 15px 40px;font-size: 15px;}
select{
    width: 100px;
    padding: 15px;
    margin: 0;
    display: inline-block;
    background: #fff;
    font-size: 15px;
}
select:focus{
    background-color: #f1e6ff;
    outline: none;
}

/*절단선*/
.cuttingLine{
    width: 100%;
    margin: 70px 0 50px;
    border-top: 2px dashed #c999ff;
}
.checkList{
    font-weight: lighter;
    text-align: center;
    letter-spacing: -1px;
    font-style: italic;
    margin-bottom: 50px;
}

.qA{padding: 15px 0;}
.qA span{font-family: nanum; font-weight: bold; letter-spacing: -1px;}
.form-row span.q1{padding: 0 20px 0 250px; border-right: 1px solid #f2f2f2;}
.form-row span.q2{padding: 0 20px 0 250px; border-right: 1px solid #f2f2f2;}
.form-row span.q3{padding: 0 20px 0 250px; border-right: 1px solid #f2f2f2;}
.form-row span.q4{padding: 0 20px 0 250px; border-right: 1px solid #f2f2f2;}


.clearfix{
    position: relative;
    top: 0px;
    width: 350px;
    /*background: green;*/
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.addbtn,  .addXbtn{
    color: #c999ff;
    padding: 10px 0;
    margin: 40px 10px;
    cursor: pointer;
    width: 150px;
    opacity: 0.9;
    font-size: 20px;
    background: white;
    border: 5px solid #c999ff;
    text-align: center;
}
.addXbtn{background: #c999ff; color:white;}
.addXbtn:hover,  .addbtn:hover{
    color: #f2f2f2;
    border: 5px solid #f2f2f2;
}
.addbtn, .addXbtn {
  float: left;
}
@media screen and (max-width: 300px) {
    .addbtn, .addXbtn {
       width: 100%;
    }
}