
/*--------------mainCSS*/

body{background: #fff;}

.main{
	width: 1100px; 
    height: 750px;
    margin: 0 auto;
    overflow: hidden;
    /*background: lightblue;*/
}
.submenuPath{
    position: relative;
    top: 100px;
    width: 100%;
    padding: 10px;
    background: #f1e6ff;
    border-left: 5px solid #c999ff;
    /*border-bottom: 5px dashed #c999ff;*/
    /*font-size: 20px;*/
}
.main-body{
    position: relative;
    top: 150px;
    width: 1100px;
    /*height: 700px;*/
    /*background: lightgreen;*/
}
.main-body:after {
    content: "";
    display: table;
    clear: both;
}
.main-body-title{
    position: relative;
    top: 0px;
    left: 5px;
    font-size: 50px;
    color: #000;
}
.main-body-title a{color: #c999ff;}
.main-body-path{
    position: absolute; top: 35px; right: 5px;
}
.main-body-path, .main-body-path a{
    font-family: sans-serif;
    font-size: 12px;
}
.main-body-path a:hover{color: #c999ff;}
.main-body-form{
    position: relative;
    top: 0px;
    padding: 50px 100px 50px;
    width: 80%;
    margin: 0 auto;
    border: 7px solid #c999ff;
    /*background: white;*/
}

/*시작*/
.footer-logo img{
    width: 90px;
    height: 59px;
}