{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/petsitter/interestedPetsitter.css" %}{% endblock %}

{% block content %}
    <div class="location-tow mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>관심 펫시터</h1>
                    </div>
                    <div class="location-content location-content-tow">
                        <ul>
                            <li><a href="{% url 'home' %}">home</a></li>
                            <li class="active">관심 펫시터</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area white-bg pt-0 pb-0 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 ml-auto mr-auto">
                    <div class="blog_area interested">
                        <div id="list">
                            <div class="product-list-view">
                                <div class="product-list-item mb-0">
                                    <div class="row interestedC">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="product-img img-full">
                                                    <a href="{% url 'petsitterInfo' %}">
                                                        <img src="{% static 'img/interested_petsitter/eu2.jpg' %}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="product-content shop-list interestedCI">
                                                <h2><a href="{% url 'petsitterInfo' %}">김태리 시터님</a></h2>
                                                <div class="product-description">
                                                    <p>정성을 다해 돌보겠습니다.</p>
                                                </div>
                                                <div class="product-price">
                                                    <div class="price-box">
                                                        <span class="price">40,000원</span>
                                                        <span class="regular-price">35,000원</span>
                                                    </div>
                                                </div>
                                                <div class="product-list-action">
                                                   <div class="add-btn">
                                                        <a href="{% url 'petsitterInfo' %}">상세보기</a>
                                                    </div>
                                                    <ul><li><a href="#" title="Whishlist"><i class="fa fa-heart"></i></a></li></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row interestedC">
                                        <div class="col-md-4">
                                            <div class="single-product">
                                                <div class="product-img img-full">
                                                    <a href="{% url 'petsitterInfo' %}">
                                                        <img src="{% static 'img/interested_petsitter/eu2.jpg' %}" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="product-content shop-list interestedCI">
                                                <h2><a href="{% url 'petsitterInfo' %}">김태리 시터님</a></h2>
                                                <div class="product-description">
                                                    <p>정성을 다해 돌보겠습니다.</p>
                                                </div>
                                                <div class="product-price">
                                                    <div class="price-box">
                                                        <span class="price">40,000원</span>
                                                        <span class="regular-price">35,000원</span>
                                                    </div>
                                                </div>
                                                <div class="product-list-action">
                                                   <div class="add-btn">
                                                        <a href="{% url 'petsitterInfo' %}">상세보기</a>
                                                    </div>
                                                    <ul><li><a href="#" title="Whishlist"><i class="fa fa-heart"></i></a></li></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-pagination">
                            <ul>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}