{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/petsitterApplication/application3.css" %}{% endblock %}

{% block content %}
    <div class="location-tow mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>펫시터 신청</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area white-bg pt-0 pb-0 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 ml-auto mr-auto">
                    <div class="blog_area">
                    	<form method="post" action="" class="formA" name="applyForm">{% csrf_token %}
                            {% if form.errors %}
                            <p class="errornote">빈칸을 전부 입력해주세요.</p>
                            {% endif %}

    						<fieldset class="aligned">

    							<div class="form-row">
    								<span class="member_id">이름</span>
    								<input name="name" type="text" class="inputContent" id="id" value="{{user.userprofile.name}}" readonly>
    							</div>

                                <div class="form-row">
                                    <span class="petsitter_job">직업</span>
									<select name="job" id="job">
									    <option value=""></option>
									    <option value="무직">무직</option>
									    <option value="학생">학생</option>
									    <option value="주부">주부</option>
									    <option value="회사원">회사원</option>
									    <option value="프리랜서">프리랜서</option>
									    <option value="자영업">자영업</option>
									    <option value="direct">직접입력</option>
									</select>
									<input type="text" id="petsitter_job_selectDirect" name="petsitter_job_selectDirect"/><script type="text/javascript">
										//셀렉트박스직접입력
										$(function(){
											$("#petsitter_job_selectDirect").hide();
											$("#job").change(function() {
												if($("#job").val() == "direct") {
													$("#petsitter_job_selectDirect").show();
												}  else {
													$("#petsitter_job_selectDirect").hide();
												}
											})
										});
									</script>
                                </div>
	
								<div class="form-row">
									<span class="permission_span">동거인의 허락</span> 
									<label class="radioC">Y
										<input type="radio" name="permission" class="permission" value="Y"/>
									  	<span class="checkmark">Yes</span>
									</label>
									<label class="radioC">N
										<input type="radio" name="permission" class="permission" value="N"/>
										<span class="checkmark">No</span>
									</label>
								</div>
	
								<div class="form-row">
									<span class="whetherSmoker_span">식구 중에 흡연자가 있습니까?</span> 
									<label class="radioC">Y
										<input type="radio" name="whether_smoker" class="whetherSmoker" value="Y"/>
									  	<span class="checkmark">Yes</span>
									</label>
									<label class="radioC">N
										<input type="radio" name="whether_smoker" class="whetherSmoker" value="N"/>
										<span class="checkmark">No</span>
									</label>
								</div>

                                <div class="form-row">
                                    <span class="maximumCare">한달 내 최대 돌봄 기간</span>
                                    <input type="number" name="maximum_caring_period" min="1" max="30" required><span style="padding: 15px 0;">일</span>
                                </div>
	
								<div class="form-row">
									<span class="whetherUnderage_span">식구 중에 미성년자가 있습니까?</span> 
									<label class="radioC">Y
										<input type="radio" name="minors_status" class="whetherUnderage" value="Y"/>
									  	<span class="checkmark">Yes</span>
									</label>
									<label class="radioC">N
										<input type="radio" name="minors_status" class="whetherUnderage" value="N"/>
										<span class="checkmark">No</span>
									</label>
								</div>
	
								<div class="form-row">
									<span class="petsitterActive_span">펫시터로 활동한 적이 있습니까?</span> 
									<label class="radioC">Y
										<input type="radio" name="sitter_career" class="petsitterActive" value="Y"/>
									  	<span class="checkmark">Yes</span>
									</label>
									<label class="radioC">N
										<input type="radio" name="sitter_career" class="petsitterActive" value="N"/>
										<span class="checkmark">No</span>
									</label>
								</div>

                                <div class="form-row">
                                    <span class="timeTogether">반려동물과 함께한 시간은 얼마입니까?</span>
                                    <input type="number" name="time_together" min="0" required><span style="padding: 15px 0;">개월</span>
                                </div>

                                <div class="form-row">
                                    <span class="companion">현재 키우고 있는 반려동물 수</span>
                                    <input type="number" name="pet_count" min="0" value="{{ pets_count }}" required><span style="padding: 15px 0;">마리</span><span style="padding: 15px 0;">
                                </div>

                                <div class="form-row">
                                    <span class="experience">반려동물과 함께해서 좋았던 기억을 입력해주세요.</span>
                                    <textarea rows="2" cols="50" name="experience" class="experience_textarea"></textarea>
                                </div>
	
								<div class="form-row">
									<span class="responsibility_span">펫시터로서 책임을 다할 것을 약속하시겠습니까?</span> 
									<label class="radioC responsibility_radio">Y
										<input type="radio" name="responsibility" class="responsibility" value="Y"/>
									  	<span class="checkmark">Yes</span>
									</label>
									<label class="radioC">N
										<input type="radio" name="responsibility" class="responsibility" value="N"/>
										<span class="checkmark">No</span>
									</label>
								</div>
                                
    						</fieldset>

    						<div class="clearfix">
    					      	<a href="{% url 'index' %}" class="applicationXtn" id="cancle">취소</a>
    					      	<button class="applicationBtn" type="submit" id="apply">펫시터 교육신청</button>
    					    </div>
    					</form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
