{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/petsitterEmployment/findPetsitter.css" %}{% endblock %}

{% block content %}
    <div class="location-tow mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>펫시터 찾기</h1>
                    </div>
                    <div class="location-content location-content-tow">
                        <ul>
                            <li><a href="{% url 'index' %}">홈</a></li>
                            <li><a href="#">펫시터 예약</a></li>
                            <li class="active">펫시터 찾기</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="blog-area white-bg pt-0 pb-0 mb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 ml-auto mr-auto">
                    <div class="blog_area blog_area_findpetsitter">

                        <div class="blog_area_top">

                            <div class="blog_area_top0">
                                <form action="" method="get">
                                    <div class="blog_area_top1"><!-- 시터검색 -->
                                        <span>펫시터 이름: </span>
                                        <span><input type="text" id="amount" name="keyword"
                                                     value="{{ search_keyword }}"
                                                     style="width: 200px; height: 40px"/></span>
                                    </div>
                                    <div class="blog_area_top2"> <!-- 돌봄지역 -->
                                        <span>돌봄지역:</span>
                                        <span><select class="wide" name="city">
                                            {% if  search_city %}
                                                <option data-display="Select">{{ search_city }}</option>
                                            {% endif %}
                                            <option data-display="Select">전체</option>
                                        <option value="서울">서울</option>
                                        <option value="경기">경기</option>
                                        <option value="인천">인천</option>
                                    </select></span>
                                    </div>
                                    <button type="submit" class="blog_area_top0_search">찾기</button>
                                </form>
                            </div>
                            <div class="blog_area_top3"> <!-- best시터 -->
                                <h4>Best시터</h4>
                                <div class="blog_area_top3_content">
                                    <ul>
                                        <li class="blog_area_top3_li">
                                            <span class="blog_area_top3_num">1</span>
                                            <div class="blog_area_top3_thumb img-full">
                                                <a href=""><img src="{% static 'img/interested_petsitter/eu1.jpg' %}"
                                                                alt=""></a>
                                            </div>
                                            <div class="blog_area_top3_li_content">
                                                <h6><a href="">임시완 시터님</a></h6>
                                                <div class="blog_area_top3_li_review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="blog_area_top3_li_price">
                                                    <span class="price">Top1</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="blog_area_top3_li">
                                            <span class="blog_area_top3_num">2</span>
                                            <div class="blog_area_top3_thumb img-full">
                                                <a href="#"><img src="{% static 'img/interested_petsitter/eu2.jpg' %}"
                                                                 alt=""></a>
                                            </div>
                                            <div class="blog_area_top3_li_content">
                                                <h6><a href="#">김태리 시터님</a></h6>
                                                <div class="blog_area_top3_li_review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="blog_area_top3_li_price">
                                                    <span class="price">Top2</span>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="blog_area_top3_li">
                                            <span class="blog_area_top3_num">3</span>
                                            <div class="blog_area_top3_thumb img-full">
                                                <a href="#"><img src="{% static 'img/interested_petsitter/eu3.jpg' %}"
                                                                 alt=""></a>
                                            </div>
                                            <div class="blog_area_top3_li_content">
                                                <h6><a href="#">차은우 시터님</a></h6>
                                                <div class="blog_area_top3_li_review">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="blog_area_top3_li_price">
                                                    <span class="price">Top3</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div>{{ search_message }}</div>
                        <div class="shop-product">
                            <div id="list">
                                <div class="product-list-view">
                                    <div class="product-list-item mb-0">

                                        {% for sitter in sitters %}
                                            <div class="row interestedC">
                                                <div class="col-md-4">
                                                    <div class="single-product">
                                                        <div class="product-img img-full">
                                                            <a href="{% url 'sitter_detail' 1 %}">
                                                                <img src="/media/{{ sitter.profile }}" alt="">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="product-content shop-list interestedCI">
                                                        <h2><a href="{% url 'sitter_detail' sitter.id %}">{{ sitter.userprofile.name }} 시터님</a></h2>
                                                        <div class="product-description">
                                                            <p>{{ sitter.introduction }}</p>
                                                        </div>
                                                        <div class="product-price">
                                                            <div class="price-box">
                                                                {#                                                           <span class="price">40,000원</span>#}
                                                                <span class="regular-price">{{ sitter.day_price }}원 / 일</span>
                                                            </div>
                                                        </div>
                                                        <div class="product-list-action">
                                                            <div class="add-btn">
                                                                <a href="{% url 'sitter_detail' sitter.id %}">상세보기</a>
                                                            </div>
                                                            <ul>
                                                                <li><a href="#" title="Whishlist"><i
                                                                        class="fa fa-heart"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                            <div class="product-pagination">
                                <ul>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
