{% extends "base.html" %}

{% block title %}ALOHA DOG{% endblock %}

{% load staticfiles %}

{% block content %}
    <div class="location-tow mb-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="location-title">
                        <h1>교육 안내</h1>
                    </div>
                    <div class="location-content location-content-tow">
                        <ul>
                            <li><a href="{% url 'index' %}">홈</a></li>
                            <li><a href="#">펫시터 신청</a></li>
                            <li class="active">교육 안내</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="my-account white-bg mb-110">
	    <div class="container">
	        <div class="account-dashboard">
	            <div class="row">
	            <div class="hhh">
					<div class="our-history-area mt-85">
						 <div class="container">
						     <div class="row">
						         <div class="col-12">
						             <div class="section-title text-center mb-35">
						                 <h2>Education Intro</h2>
						                 <span>알로하도그 교육과정 소개</span>
						             </div>
						         </div>
						     </div>
						     <div class="row">
						         <div class="col-lg-8 ml-auto mr-auto">
						             <div class="history-area-content text-center">
						                 <p><strong>알로하도그 오프라인 교육과정 소개입니다.</strong></p>
<pre>
- 반려견 첫만남 시 주의사항 및 친화방법
- 체중, 나이에 알맞은 배식방법
- 카밍시그널, 반려견의 몸짓 제대로 알기
- 질병과 예방접종 (예방접종 및 중성화 시기 및 유의사항, 전염질병 등)
- 기본 그루밍 (눈물정리, 발톱/발바닥털 정리, 귀청소, 항문낭, 빗질 등)
- 응급처치법 (CPR 및 찰과상, 화상, 타박상 대처법 등)
- 반려견 문제행동 (마킹, 짖음, 공격성, 식분증, 물어뜯기)증세와 행동관찰
- 문제행동에 대한 대처방법 및 2마리 이상 돌봄 시 주의사항
- 스트레스 해소에 좋은 반려견 놀이법
</pre>
						             </div>
						             <br><br>
						         </div>
						     </div>
						 </div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
{% endblock %}