.errornote{
    display: block;
    margin: -50px 0 30px 0;
    border: 1px solid #c30;
    background: #fcf;
    padding: 5px 15px;
    color: #c30;
    font-size: 12px;
    font-weight: bold;
    font-family: nanum;
    letter-spacing: -1px;
}
*{user-select:none;}
li{list-style: none;}
.form-row{
    border-bottom: 1px solid #c999ff;
    margin: 0 100px;
    font-size: 15px;
}
@media screen and (max-width: 800px) {
    .form-row {
      margin: 0 100px;
    }
}
@media screen and (max-width: 500px) {
    .form-row {
      margin: 0 50px;
    }
}
@media screen and (max-width: 200px) {
    .form-row {
      margin: 0;
    }
}
.formA{margin-top:70px;}
input[type=text], input[type=password],
input[type=number], input[type=file], input[type=email], input[type=time] {
    width: 400px;
    padding: 15px;
    margin: 0;
    display: inline-block;
    background: rgba(204,204,204,0.25);
    border: none;
    color: grey;
}
input[type=radio], input[type=checkbox]{
    width: 15px;
    height: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: grey;
    color: white;
}
/*radio*/
.radioC {
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    padding: 9px;
    
}
.radioC input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background: #d9d9d9;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px;
}
.radioC:hover input ~ .checkmark {
    background-color: rgba(241,230,255);
    color: white;
}
.radioC input:checked ~ .checkmark {
    background-color: #c999ff;
    color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radioC input:checked ~ .checkmark:after {
    display: block;
}
.radioC .checkmark:after {
    top: 18px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
select{
    width: 150px;
    padding: 10px;
    margin: 5px 15px;
    display: inline-block;
    background: grey;
    border: none;
    font-size: 15px;
}
option {
    background: white;
    color: #c999ff;
    font-size: 15px;
    padding: 10px;
    border: none;
}
input[type=text]:hover, input[type=password]:hover,
input[type=number]:hover, input[type=file]:hover,
input[type=radio]:hover, input[type=email]:hover, 
input[type=time]:hover, select:hover, option:hover {
    background-color: rgba(241,230,255);
    outline: none;
    border: none;
    color: white;
}
input[type=text]:focus, input[type=password]:focus, 
input[type=number]:focus, input[type=file]:focus,
input[type=radio]:focus, input[type=email]:focus, 
input[type=time]:focus, select:focus, option:focus {
    background-color: #c999ff;
    outline: none;
    border: none;
    color: white;
}
.clearfix{
    position: relative;
    top: -10px;
    width: 350px;
/*     background: green; */
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.blog_area{
    border: 1px solid #ebebeb;
}


/*----------------------------------------
------------------------------------------
----------------------------------------*/


/*-----
petInfo.jsp
-------*/
.form-row span.name{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.age{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.sex{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.species{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.weight{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.dogimg{padding: 15px 100px 15px 100px;} /* dog */
.form-row span.neutralization{padding: 15px 55px 15px 100px;} /* dog */
.dogInfo_wrap{
    margin-top: 50px;
    /*background-color: red;*/
}
.dogs{
    width: 120px;
    height: 210px;
    display: inline-block;
    /*background: #ccc;*/
    text-align: left;
    margin-bottom: 50px;
}
.dogInfo_wrap a{margin-right: 30px;}
.dogs img{
    height: 100px; 
    width: 100px; 
    border-radius: 30px;
    margin: 10px;
}
.dogs .dogName{
    margin: 0 auto;
    width: 100px;
    /*height: 70px;*/
    border-radius: 3px;
    border: 2px solid #e5e5e5;
    padding: 10px;
}
.dogInfo_wrap a:hover .dogName{
    color: white; 
    background: #c999ff; 
    border: 2px solid #c999ff;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.dogs .dogName li{
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: -1px;
    padding: 2px;
}
.DA{text-align: right;}
.add{
    color: #666;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 15px;
    background: white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
}
.add:hover{color: #fff; background: #c999ff; border-color: #c999ff;}
@media screen and (max-width: 300px) {
    .add {
       width: 100%;
    }
}/*-------
addPetInfo.jsp
--------*/
.cuttingLine{
    width: 100%;
    margin: 70px 0 50px;
    border-top: 2px dashed #c999ff;
}
.checkList{
    font-weight: lighter;
    text-align: center;
    letter-spacing: -1px;
    font-style: italic;
    margin-bottom: 50px;
}

/*.qA{padding: 15px 0;}*/
.qA span{font-family: nanum; font-weight: bold; letter-spacing: -1px;}
.form-row span.question{padding: 15px 100px;}

.addbtn,  .addXbtn{
    color: #666;
    padding: 14px 0;
    margin: 40px 10px;
    cursor: pointer;
    width: 150px;
    background: white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    float: left;
    font-size: 15px;
}
.addXbtn:hover, .addbtn:hover{color: #fff; background: #c999ff; border-color: #c999ff;}
@media screen and (max-width: 300px) {
    .addbtn, .addXbtn {
       width: 100%;
    }
}
/*---------
editPetInfo.jsp
-------------*/
.dogimgBox{text-align: center;}
.dogimgBox img{
    border-radius: 100px; 
    margin-bottom: 50px;
    width: 150px; 
    height: 150px;
    transition: 0.3s;
    cursor: pointer;
}.dogimgBox img:hover {opacity: 0.7;}
.dogimgBox img:nth-child(1), .dogimgBox img:nth-child(3){
    width: 100px; 
    height: 100px;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
}
.di-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
img.di-modal-content {
    margin: auto;
    display: block;
    width: 70%;
    height: 90%;
    border-radius: 0;
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.di-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.di-close:hover,
.di-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .di-modal-content {
        width: 100%;
    }
}
.modifyClearfix{width: 410px;}
.modifybtn,  .modifyXbtn, .modifyDeletebtn{
    color: #666;
    padding: 14px 0;
    margin: 50px 10px;
    cursor: pointer;
    width: 100px;
    background: white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    float: left;
    font-size: 15px;
}.modifybtn{width: 150px;}
.modifyXbtn:hover, .modifybtn:hover, .modifyDeletebtn:hover{
    color: #fff; 
    background: #c999ff; 
    border-color: #c999ff;
}
@media screen and (max-width: 300px) {
    .modifybtn, .modifyXbtn, .modifyDeletebtn {
       width: 100%;
    }
}