.errornote{
    display: block;
    margin: -50px 0 30px 0;
    border: 1px solid #c30;
    background: #fcf;
    padding: 5px 15px;
    color: #c30;
    font-size: 12px;
    font-weight: bold;
    font-family: nanum;
    letter-spacing: -1px;
}
*{user-select:none;}
li{list-style: none;}
.form-row{
    border-bottom: 1px solid #c999ff;
    margin: 0 100px;
    font-size: 15px;
}
@media screen and (max-width: 800px) {
    .form-row {
      margin: 0 100px;
    }
}
@media screen and (max-width: 500px) {
    .form-row {
      margin: 0 50px;
    }
}
@media screen and (max-width: 200px) {
    .form-row {
      margin: 0;
    }
}
.formA{margin-top:70px;}
input[type=text], input[type=password],
input[type=number], input[type=file], input[type=email], input[type=time] {
    width: 400px;
    padding: 15px;
    margin: 0;
    display: inline-block;
    background: rgba(204,204,204,0.25);
    border: none;
    color: grey;
}
input[type=radio], input[type=checkbox]{
    width: 15px;
    height: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    background: grey;
    color: white;
}
/*radio*/
.radioC {
    display: block;
    position: relative;
    cursor: pointer;
    margin-right: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
    padding: 9px;
    
}
.radioC input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    background: #d9d9d9;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    padding: 10px;
}
.radioC:hover input ~ .checkmark {
    background-color: rgba(241,230,255);
    color: white;
}
.radioC input:checked ~ .checkmark {
    background-color: #c999ff;
    color: white;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radioC input:checked ~ .checkmark:after {
    display: block;
}
.radioC .checkmark:after {
    top: 18px;
    right: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
select{
    width: 150px;
    padding: 10px;
    margin: 5px 15px;
    display: inline-block;
    background: grey;
    border: none;
    font-size: 15px;
}
option {
    background: white;
    color: #c999ff;
    font-size: 15px;
    padding: 10px;
    border: none;
}
input[type=text]:hover, input[type=password]:hover,
input[type=number]:hover, input[type=file]:hover,
input[type=radio]:hover, input[type=email]:hover, 
input[type=time]:hover, select:hover, option:hover {
    background-color: rgba(241,230,255);
    outline: none;
    border: none;
    color: white;
}
input[type=text]:focus, input[type=password]:focus, 
input[type=number]:focus, input[type=file]:focus,
input[type=radio]:focus, input[type=email]:focus, 
input[type=time]:focus, select:focus, option:focus {
    background-color: #c999ff;
    outline: none;
    border: none;
    color: white;
}
.clearfix{
    position: relative;
    top: -10px;
    width: 350px;
/*     background: green; */
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.blog_area{
    border: 1px solid #ebebeb;
}


/*----------------------------------------
------------------------------------------
----------------------------------------*/

/* findPetsitter */
.blog_area_findpetsitter{border: none;}
.blog_area_top{
	width: 100%; 
	height: 220px; 
	background: rgba(77,77,255,0.1); 
	padding: 20px; 
	margin-bottom: 50px; 
	border-radius: 30px;
}
.blog_area_top h4{font-size: 25px; color: grey; font-weight: bold;}

.blog_area_top0{display: inline-block; background: white; width: 100%; border-radius: 15px;}
.blog_area_top1{
    float: left; 
    display: inline; 
    /*background: lightblue;*/
    margin: 8px;
    margin-right: 15px;
}
.blog_area_top2{float: left; display: inline; width: 300px;}
.blog_area_top2 span{display: inline-block;}
select.wide{
    width: 150px;
    display: inline-block;
    background: rgba(204,204,204,0.25);
    border: none;
    font-size: 15px;
}
.blog_area_top0_search {
	float: right;
   	color: #666;
    cursor: pointer;
    background: white;
    border: 2px solid #e5e5e5;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    margin: 7px 0;
    margin-right: 10px;
}
.blog_area_top0_search:hover{
    color: #fff; 
    background: #c999ff; 
    border-color: #c999ff;
}

.blog_area_top3{height: 113px; width: 100%;}
.blog_area_top3_num{
	margin-top: 40px;
	float: left;
	font-size: 50px;
	color: white;
	font-weight: bold;
}
.blog_area_top3_content{width: 100%; height: 80px;}
.blog_area_top3_content > ul {
/* 	border: 1px solid #e5e5e5; */
}
.blog_area_top3_content > ul > li {
/* 	display: block; */
	float: left;
	overflow: hidden;
/* 	padding: 10px 15px; */	
	width: 250px;
	height: 80px;
	margin-bottom: 0px;
/*     border-bottom: 1px solid #e5e5e5; */
/* 	background: white; */
}
.blog_area_top3_content > ul > li:last-child{
    border-bottom: 0;
}
.blog_area_top3_li{margin-right: 20px;}
.blog_area_top3_thumb {
	float: left;
	width: 80px;
	height: 80px;
}
.blog_area_top3_li_content {
	float: left;
	padding: 5px 0;
	padding-left: 20px;
}
.blog_area_top3_li_content > h6 {
	color: #555;
	font-size: 14px;
	font-weight: 600;
	text-transform: none;
}
.shop-product{/*padding-top: 40px;*/ border-top: 1px solid #e5e5e5;}

.interested{padding: 50px;}
.interestedC{
    /*background: blue; */
    padding-bottom: 5px;
    border-bottom: 1px solid #c999ff;
}.interestedC:last-child{border-bottom: none;}
.interestedCI{
    /*background: grey;*/
    margin-top: 10px;
    padding-top: 0;
}